.maxwrapper {
	max-width: 1400px;
	margin: 0 20px 0 20px;
	padding: 40px 50px 0 50px;
}

.minwrapper {
	display: flex;
	max-width: 1300px;

}

.minwrapper__left {
	position: relative;

	.minimg {
		width: 68px;
		position: absolute;
		left: -25px;
		top: -25px;
	}

	.maximg {
		width: 650px;
	}
}

.minwrapper__right {
	margin-left: 60px;
	margin-top: 131px;
	margin-bottom: 131px;
	max-width: 530px;
	padding-top: 163px;

	.wrapperimgtext {
		width: 160px;
		padding-top: 23px;
		margin-right: 25px;
	}

	.wrapperimgtext img:first-child {
		margin-bottom: 11px;
	}

	span {
		font-style: normal;
		font-weight: 400;
		font-size: 70px;
		line-height: 88px;
		letter-spacing: 3.2px;
	}

	.bold {
		font-weight: 700;
		font-size: 80px;
	}
}

.iconwrapper {
	margin-top: 80px;
	padding-left: 22px;

	span {
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 24px;
	}
}

.groupicon {
	height: 32px;
	margin-top: 16px;

	img {
		margin-right: 17px;
	}
}